body{
    background-color: #e7b456;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
font-size: 17px;}

img{
    width: auto;
    height: 350px;
    border-radius: 20%;
}
ul{
    display:list-item;
    text-align: start;
    padding: 10px 23px;
    border-style: ridge;
    border-color:aliceblue;
    border-radius:  2%;
}

ol{
    text-align: start;
    margin: auto;
    padding: 10px 23px;
    border-style: ridge;
    border-color: aliceblue;
   border-radius: 2%;
}
a:link{
    color:#e7b456;
    font-size: 22px;
    text-decoration: none;
    border-color: #632102;
    background-color: rgb(250, 240, 209);
    border-radius: 10%;
   margin:auto;
}
a:visited{
    color:#c95e2d;
}
a:hover{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
a:active{color:rgb(245, 241, 0);}
